<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="H3VR.GameLibs" version="0.104.0-r.0" targetFramework="net35" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net35" />
  <package id="NUnit" version="3.13.3" targetFramework="net35" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net35" />
  <package id="UnityEngine" version="5.6.1" targetFramework="net35" />
</packages>